# Microsoft Office temporary lock files
~$*

# Python cache files
**/__pycache__/
**/.pytest_cache/
*.pyc

# Hackerton private grader files
hackerton_admin/answers/private_solution.csv
hackerton_admin/incoming/
hackerton_admin/score-output/

# Temporary extracted assignment folders
data/*/HW/week*-assignment/
